<div class="container mt-16">
  <h1 class="text-center">Reset Password</h1>
  <div class="column col-6 col-xs-12 col-sm-12 col-md-9 col-lg-7 col-mx-auto max-52">
    <%= form_with model: @user, url: password_reset_path(token: params[:token]) do |form| %>
      <%= render "shared/form_field",
             form: form,
             field_name: :password,
             field_type: :password_field,
             placeholder: "Password",
             object_for_errors: @user
      %>

      <%= render "shared/form_field",
                form: form,
                field_name: :password_confirmation,
                field_type: :password_field,
                placeholder: "Confirmation",
                object_for_errors: @user
      %>

    <div class="form-group">
      <%= form.submit "Reset Password", class: "btn btn-primary input-group-btn" %>
    </div>
    <% end %>
  </div>
</div>
