<div id="<%= dom_id comment %>" class="container popover popover-right fullh">
  <div class="popover-container fullh">
    <%= link_to content_tag(:i,'',class: "icon icon-cross"), [comment.video, comment], data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" }, "data-turbo-frame": "_top", class: "no-shadow tooltip tooltip-bottom", "data-tooltip": "Delete" %>
  </div>
  <p class="wordbreak">
    <span class="label label-rounded"><%= comment.commenter %></span>
  </p>
  <p class="wordbreak">
    <span style="margin-left:6px;"><%= comment.body %></span>
  </p>
  <div style="height:16px;"></div>
</div>
