<div id="errors" class="container">
<% if @video.errors.any? %>
    <div style="color:white;display:inline-block;background-image:linear-gradient(to right,#eab308,#f97316);padding:8px;margin:6px;border-radius:8px;">
      <h3><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h3>
      <ul>
        <% @video.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
