<div id="grid" class="p-2">
  <% @videos.each do |video| %>
    <div class ="card" style="display:flex;align-items:center;height:auto;">
      <div class="card-image">
        <%= link_to(image_tag(video.thumbnail, class:"img-responsive mb-1", style:"border-radius:12px;"), video, id: "video_thumb") %>
      </div>
        <%= link_to video.title , video, class:"card-footer mt-1", style:"width:100%;color:black;font-weight:600;text-align:left;padding:0;padding-left:1px;text-decoration-line:none;" %>
        <%= link_to(time_ago_in_words(video.created_at)+" ago", video, style:"width:100%;text_align:left;font-size:14px;font-weight:500;color:#97a2b4;padding-left:2px;text-decoration-line:none;") %>
    </div>
  <% end %>
</div>
