<div id="grid" class="p-2">
  <% @videos.each do |video| %>
    <div class ="card" style="align-items:center;">
      <div class="card-image placeholder" style="aspect-ratio:16/9;border-radius:12px;">
        <div class="hidden" style="width:100%;height:100%;"><%= link_to(image_tag(video.thumbnail, class: "img-responsive mb-1", style:"width:100%;height:100%;border-radius:12px;"), video, class: "no-shadow") %></div>
      </div>
        <div class="mt-2"><%= link_to content_tag(:span,video.title,class:"placeholder",style:"box-decoration-break:clone;-webkit-box-decoration-break:clone;"), video, class: "card-footer no-shadow", style: "display:block;width:100%;color:black;font-weight:600;text-align:left;padding:0;padding-left:1px;word-wrap:break-word;text-decoration-line:none;" %></div>
        <%= link_to(time_ago_in_words(video.created_at)+" ago", video, class: "no-shadow placeholder", style: "width:100%;text_align:left;font-size:14px;font-weight:500;color:#97a2b4;padding-left:2px;text-decoration-line:none;") %>
    </div>
  <% end %>
  <% unless controller_name == "videos" && action_name == "search"%>
    <div class ="card">
      <div class="card-image placeholder bg-primary" id="new_video" onclick="const e=document.getElementById('uploadm');e.classList.add('active');" onmouseover="document.getElementById('plus').classList.replace('icon-2x','icon-3x');" onmouseleave="document.getElementById('plus').classList.replace('icon-3x','icon-2x');" style="display:flex;aspect-ratio:16/9;border-radius:12px;align-items:center;justify-content:center;cursor: pointer;"><i class="icon icon-2x icon-plus" id="plus"></i></div>
    </div>
  <% end %>
</div>
<script>
document.documentElement.addEventListener("turbo:load", () => {
  const ph = document.getElementsByClassName('placeholder');
  const hid = document.getElementsByClassName('hidden');
  while(ph.length){
    ph[0].classList.remove('placeholder');
  }
  while(hid.length){
    hid[0].classList.remove('hidden');
  }
})
</script>
