<div class="container p-tb">
<div id="grid" class="p-2">
  <%= render "grid" %>
<% if @pagination.next_page? %>
  <%= turbo_frame_tag :pagination, loading: :lazy, src: videos_path(format: :turbo_stream, page: @pagination.next_page) %>
<% end %>
</div>
</div>
<%= render "modal", path: new_video_path, title: "Upload" %>
<button class="btn btn-primary btn-action btn-lg s-circle" id="up" onclick="window.scrollTo({top: 0,left: 0,behavior: 'smooth'});"><i class="icon icon-upward"></i></button>
<div class="hero hero-sm bg-primary text-light text-center">
  <div class="container grid-lg">
    <h2> Introduction </h2>
    <div class="columns">
      <div class="column col-10 col-sm-12 col-mx-auto text-left">
        <p class="text-secondary">
          <strong>Repoclip</strong> is a lightweight, responsive and modern web application designed as a repository to store and share all your videos.
        </p>
        <p class="text-secondary">
          It was made with the purpose of showing my skills in web development, especially back-end. This is my portfolio
          built with Ruby on Rails.
        </p>
        <p class="text-secondary">Try it yourself !</p>
      </div>
      <div class="colum col-10 col-sm-12 col-mx-auto">
        <a class="btn btn-lg" href="mailto:rbsanto@proton.me">Hire me</a>
      </div>
    </div>
  </div>
</div>
<template data-controller="upward"></template>
