<%= render "navbar" %>
<div class= "container" style="padding-top:2.9%;padding-bottom:2.7em;">
  <%= render "grid" %>
</div>
<%= render "modal", path: new_video_path, title: "Upload" %>
<div class="hero hero-sm bg-primary text-light text-center" style="margin-bottom:2.4%;">
  <div class="container grid-lg">
      <h2> Introduction </h2>
    <div class="columns">
      <div class="column col-10 col-sm-12 col-mx-auto text-left">
        <p class="text-secondary">
          <strong>Repoclip</strong> is a lightweight, responsive and modern web application designed as a repository to store and share all your videos.
        </p>
        <p class="text-secondary">
          It was made with the purpose of showing my skills in web development, especially back-end. This is my portfolio
          built with Ruby on Rails.
        </p>
        <p class="text-secondary">Try it yourself !</p>
      </div>
      <div class="colum col-10 col-sm-12 col-mx-auto">
        <a class="btn btn-lg" href="mailto:rbsanto@proton.me">Hire me</a>
      </div>
    </div>
  </div>
</div>
<div id="copyright" class= "docs-footer container grid-lg">
  <p>
    <%= link_to "GitHub","https://github.com/Santonero/repoclip", target: "_blank", style:"color:rgb(102, 117, 140);" %> · Version 1.1
  </p>
  <p>
    Designed and built by Santonero.
  </p>
</div>
