<%= content_for :head do %>
  <link rel="stylesheet" href="https://cdn.vidstack.io/player/theme.css" />
  <link rel="stylesheet" href="https://cdn.vidstack.io/player/video.css" />
  <%= javascript_import_module_tag "vs" %>
<% end %>
<div class="container p-tb mg">
  <div id="grid" class="p-2">
    <%= render "grid" %>
  <% if @pagination.next_page? %>
    <%= turbo_frame_tag :pagination, loading: :lazy, src: videos_path(format: :turbo_stream, page: @pagination.next_page) %>
  <% end %>
  </div>
</div>
<button class="btn btn-primary btn-action btn-lg s-circle" id="up"><i class="icon icon-upward"></i></button>
<div class="hero hero-sm bg-primary text-light text-center text-large">
  <div class="hero-body">
    <h1>Share Your Clips, Simply.</h1>
    <div class="mb-2">
      <p class="mb-1">RepoClip is your streamlined platform to easily upload, share, and discover video clips.</p>
      <p class="mb-1">Experience a clean, fast interface designed for your favorite moments.</p>
      <p class="mb-1">No complicated setups, just pure sharing.</p>
    </div>
    <p class="text-italic">Explore, share, enjoy!</p>
    <button class="btn btn-lg" onclick="document.querySelectorAll('.modal')[1].classList.add('modal-lg','active')">Upload Your First Clip</button>
  </div>
</div>
<template data-controller="upward"></template>
