/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { min-height: 100vh; margin: 0; flex-direction: column }

.container { flex: 1; padding-top: 2%; padding-bottom: 2% }

.container.grid-xl { max-width: 1440px; padding-top: 1%; padding-bottom: 1% }

.container.p-tb { width: 97% }
@media only screen and (max-width: 336px) { .container.p-tb { width: 100% } }

#grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

@supports (display: grid) {
  #grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
  row-gap: 2em
  }
}

.searchboxl { border-radius: 20px 0 0 20px }

.searchboxr { border-radius: 0 20px 20px 0 }

.card {
  display: inline;
  border: none!important;
  align-items: center;
  flex: 1 300px
}

.vcard:hover>.card-image {
  transform: scale(1.09);
  transition: transform .1s linear;
  z-index: 1;
  box-shadow: 0 .4rem .5rem rgba(48,55,66,.3);
  border: solid #f1f1fc;
  background-color: #f1f1fc
}

.full { width: 100%; height: 100% }

.fullw { width: 100% }

.fullh { height: 100% }

.card-image {
  aspect-ratio: 16/9;
  border-radius: 12px;
  user-select: none;
  position: relative;
  transition: transform .1s linear
}

.img-responsive {
  width: 100%;
  height: 100%;
  border-radius: 12px!important
}

.boxbreak { box-decoration-break: clone; -webkit-box-decoration-break: clone }

a.card-footer {
  display: block;
  width: 100%;
  color: black;
  font-weight: 600;
  text-align: left;
  padding: 0!important;
  padding-left: 1px!important;
  word-wrap: break-word;
  text-decoration-line: none
}

a.card-footer-last {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #97a2b4;
  padding-left: 2px;
  text-decoration-line: none
}

.no-shadow:active, .no-shadow:focus { box-shadow: none }

.hidden { visibility: hidden }

#new_video {
  display: flex;
  aspect-ratio: 16/9;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  cursor: pointer
}

#new_video:hover {
  background: #4240d4!important;
  box-shadow: 0 0 0 .1rem rgba(87,85,217,.2);
  transition: box-shadow .2s
}

#plus { transition: transform .3s }

.p-tb { padding-top:2.9%; padding-bottom:2.7em }

.modal-body { overflow-x: hidden }

.input-group-btn.float-right { width: 30% }
@media only screen and (max-width: 448px) { .input-group-btn.float-right { width: 45% } }

#formload {
  float: right;
  position: relative;
  right: 20px;
  top: 9px
}

#formload.loading { transform: scale(1.5) }

.vjs-tech{ border-radius: 10px }
.vjs-control-bar { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px }
.video-js { background-color: transparent!important }

.video-js.video-js .vjs-big-play-button {
  margin-left: -1em;
  margin-top: -1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border: none;
  border-radius: 50%;
  font-size: 3.5em;
  background-color: rgba(0,0,0,.45)
}

.video-js.vjs-has-started .vjs-big-play-button {
  display: block;
  opacity: 0;
  transform: translateX(200px) rotateY(360deg);
  pointer-events: none;
  transition: opacity 0.8s ease 0.11s, transform 1s!important
}

.video-js.vjs-paused .vjs-big-play-button {
  opacity: 1;
  transform: translateX(0px);
  pointer-events: all;
  transition: opacity 0.5s, transform 1s
}

.video-js.video-js:hover .vjs-big-play-button { background-color: rgba(0,0,0,.75) }

.video-js .vjs-icon-placeholder { color: #f1f1fc }

.video-js .vjs-play-progress { background-color: #f1f1fc!important }

.video-js .vjs-play-progress { color: #f1f1fc }

.video-js.video-js .vjs-time-control { display: block }

.video-js.video-js .vjs-volume-level { background-color: #f1f1fc; color: #f1f1fc }

.vjs-menu-item.vjs-selected { background-color: #f1f1fc!important }

.video-js.video-js .vjs-menu-content { width: 48px!important }

.vjs-playback-rate > .vjs-menu-button, .vjs-playback-rate .vjs-playback-rate-value { user-select: none }

#vidfoot { display: none }
#comcont { display: none }

.vidtitle {
  margin-left: 1px;
  display: inline-block
}

.vidate {
  font-size: 14px;
  margin-left: 1px;
  display: table
}

.videscr {
  border-radius: 12px;
  padding: 12px;
  background-color: #f7f8f9
}

.placeholder {
  background-color: #bcc3ce;
  color: #0000!important;
  border-radius: 20px
}

#vidact { display: flex; justify-content: flex-end }

.label { display: inline; box-decoration-break: clone; -webkit-box-decoration-break: clone }

.break { margin-left: -0.4rem; margin-right: -0.4rem }

.scontainer { padding-top: 2%; padding-bottom: 2% }

.h-16 { height: 16px }

.mt-16 { margin-top: 16px }

.ml-6 { margin-left: 6px }

.max-4 { max-width: 400px }

.max-52 { max-width: 520px }

.max-82 { max-width: 820px }

.br-2 { border-radius: 2px }
.br-2:hover, .br-2:active, .br-2:focus { text-decoration: none }

.p-flash { padding-left: 1em; padding-right: 1em }

.p-04 { padding-left: 0.4em }

.author { display: inline-block }

.delcom {
  display: inline-block;
  opacity: 0;
  position: relative;
  padding: .4rem;
  transform: translatey(4em) scale(0);
  transition: transform .2s
}

@media only screen and (max-width: 554px) { .delcom { position: absolute; top: 17px; right: 1% } }

.popcom { position: relative }

.popcom:hover>.delcom { opacity: 1; transform: translatey(0) scale(1) }

.navbar {
  position: sticky;
  top: 0;
  z-index: 4;
  background: #fff
}

.navbar-section { z-index: 3 }

.navbar-brand { padding: 5px; border-radius: 0.1rem }

#navlogo { white-space: nowrap; user-select: none }

.navbar .navbar-center { flex: 0.4 0 auto; z-index: 3 }

@media only screen and (max-width: 591px) { .navbar .navbar-center { flex: 2 0 0 } }

@media only screen and (max-width: 430px) { .d-inline-block.tooltip.tooltip-right::after { content: attr(data-tooltipm) } }

.toast {
  width: auto!important;
  min-width: 170px;
  position: absolute;
  z-index: 5;
  animation: slidein 0.3s
}

.terr {
  background-color: #fff;
  border: none;
  color: #ff0000;
  font-weight: 600
}

.ldivider {
  border-top: 0.05rem solid #f1f3f5;
  height: 0.05rem;
  margin-bottom: 0.4rem
}

.lcontainer {
  background: #fff;
  padding-bottom: 2%;
  right: 0;
  z-index:3;
  border-bottom-left-radius: 5px;
  box-shadow: 0 .2rem .5rem rgba(48,55,66,.3);
  min-width: 286px
}

.lbtn { margin-top: 0.4rem }

.cross { right: 1.1em; font-size: 0.9rem }

.logslide { animation: logslide 0.3s }

@media only screen and (max-width: 392px) {
  @keyframes logslide {
    from {top: -50px; opacity: 0}
    to {top: 89px; opacity: 1}
  }
}

@media only screen and (min-width: 393px) {
  @keyframes logslide {
    from {top: -50px; opacity: 0}
    to {top: 60px; opacity: 1}
  }
}

.slidex { position: relative; animation: slidein 0.3s }

.toast.toast-success:hover { background-color: #37c84a }
.toast.toast-error:hover { background-color: #ff5e00 }

.fieldicon { position: relative; top: 3px }

.form-input-hint {
  position: relative;
  -webkit-animation: slidev 0.5s;
  animation: slidev 0.5s
}

@keyframes slidev {
  from {left: -20px; opacity: 0}
  to {left: 0; opacity: 1}
}

.field_with_errors { display: inline }

#comzone { -webkit-animation: slidein 0.5s; animation: slidein 0.5s }

#comframe { margin-left: 1.1% }

#comarea { position: relative }

.authorf { width: 452px }
@media only screen and (max-width: 482px) { .authorf { width: 100% } }

em-emoji-picker {
  position: absolute;
  bottom: 70px;
  left: 50%
}

@media only screen and (max-width: 690px) { em-emoji-picker { left: 30% } }
@media only screen and (max-width: 547px) { em-emoji-picker { left: 15% } }
@media only screen and (max-width: 445px) { em-emoji-picker { left: -43px } }

.btnemoji {
  position: absolute;
  bottom: 24px;
  left: 100.5%;
  border: none
}
.btnemojierr {
  position: absolute;
  bottom: 49px;
  left: 100.5%;
  border: none
}

@media only screen and (max-width: 600px) {
  .btnemoji {
    bottom: 62px;
    left: 90%
  }
  .btnemojierr {
    bottom: 87px;
    left: 90%
  }
}

.icon-emoji { font-size: 1.3rem }

#ccount { margin-top: 1%; margin-bottom: 1% }

@keyframes slidein {
  from {left: -35px; opacity: 0}
  to {left: 0; opacity: 1}
}

@keyframes slidey {
  from {top: -15px; opacity: 0}
  to {top: 9px; opacity: 1}
}

.shakeit { -webkit-animation: shake 0.3s ease-in-out; animation: shake 0.3s ease-in-out }

@keyframes shake {
  0%, 100% {margin-left: 0}
  20%, 80% {margin-left: -12px}
  40%, 60% {margin-left: 12px}
}

.pen {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(-45deg) scale(var(--ggs,1));
  width: 14px;
  height: 4px;
  border-right: 2px solid transparent;
  box-shadow: 0 0 0 2px, inset -2px 0 0;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  top: 10px;
  margin: auto
}

.pen.penh {
  display: inline-block;
  top: initial;
  bottom: 8px;
  left: 8px
}

.pen::after, .pen::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
}
.pen::before {
  background: currentColor;
  border-left: 0;
  right: -6px;
  width: 3px;
  height: 4px;
  border-radius: 1px;
  top: 0
}
.pen::after {
  width: 8px;
  height: 7px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 7px solid;
  left: -11px;
  top: -2px
}

.decor:hover {
  text-decoration: none;
  height: fit-content
}
.decor:active, .decor:focus {
  text-decoration: none;
  height: fit-content;
  border-radius: 12px
}

#up {
  display: none;
  position: fixed;
  bottom: 25px;
  left: 2.5%;
  transform: scale(1.2);
  z-index: 3
}

.docs-footer {
  color: #bcc3ce;
  margin-top: 1.5rem;
  text-align: center
}

.docs-footer a { color: #66758c }
