/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

 @supports (display: grid) {
    #grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 1em;
    row-gap: 2em;
  }
}

.searchboxl {
  border-radius: 20px 0 0 20px !important;
}
.searchboxr {
  border-radius: 0 20px 20px 0 !important;
}

.card {
  display: inline;
  border:none !important;
  align-items:center;
}

.full {
  width:100%;
  height:100%;
}

.fullw {
  width: 100%;
}

.fullh {
  height:100%;
}

.card-image {
  aspect-ratio:16/9;
  border-radius:12px;
  user-select: none;
}

.img-responsive {
  width:100%;
  height:100%;
  border-radius:12px !important;
}

.boxbreak { 
  box-decoration-break:clone;
  -webkit-box-decoration-break:clone;
}

.card-footer {
  display:block;
  width:100%;
  color:black !important;
  font-weight:600;
  text-align:left;
  padding:0 !important;
  padding-left:1px !important;
  word-wrap:break-word;
  text-decoration-line:none !important;
}

.card-footer-last {
  width:100%;
  font-size:14px;
  font-weight:500;
  color:#97a2b4 !important;
  padding-left:2px;
  text-decoration-line:none !important;
}

.no-shadow:active, .no-shadow:focus {
  box-shadow: none;
}

.hidden {
  visibility: hidden;
}

.placeholder { 
  background-color: #bcc3ce !important;
  color: #0000 !important;
  border-radius: 20px;
}

#new_video {
  display:flex;
  aspect-ratio:16/9;
  border-radius:12px;
  align-items:center;
  justify-content:center;
  cursor:pointer;
}

#new_video:hover {
  background: #4240d4 !important;
  box-shadow: 0 0 0 .1rem rgba(87,85,217,.2);
  transition: box-shadow .2s;
}

#plus {
  transition: transform .3s;
}

.modal-container {
  box-shadow: 0 .2rem .5rem rgba(48,55,66,.3) !important;
  max-height: 78vh;
}

.modal-body { 
  overflow-x: hidden;
}

.modal-overlay { 
  background: rgba(247,248,249,.75) !important;
}

.name-field {
  padding-left: 0;
}

#formload { 
  float:left;
  position:relative;
  left:14px;
  top:9px;
}

.video-js.video-js .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-left: -1em;
  margin-top: -1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border: none;
  border-radius: 50%;
  font-size: 3.5em;
  background-color: rgba(0,0,0,.45);
  color: #fff;
}

 .video-js.vjs-has-started .vjs-big-play-button {
  display: block;
  opacity: 0;
  transform: translateX(200px) rotateY(360deg);
  pointer-events: none;
  transition: opacity 0.8s, transform 1s !important;
}

.video-js.vjs-paused .vjs-big-play-button {
  opacity: 1;
  transform: translateX(0px);
  pointer-events: all;
  transition: opacity 0.5s, transform 1s;
} 

.video-js.video-js:hover .vjs-big-play-button {
  background-color: rgba(0,0,0,.75);
}

.video-js .vjs-icon-placeholder {
  color: #f1f1fc;
}

.video-js .vjs-play-progress {
  background-color:#f1f1fc !important;
}
.video-js .vjs-play-progress {
  color:#f1f1fc;
}

.video-js.video-js .vjs-time-control {
  display: block;
}

.video-js.video-js .vjs-volume-level{
  background-color: #f1f1fc;
  color: #f1f1fc;
}

.vjs-menu-item.vjs-selected { 
  background-color:#f1f1fc !important;
}

.video-js.video-js .vjs-menu-content {
  width:48px !important;
}

.vjs-playback-rate > .vjs-menu-button, .vjs-playback-rate .vjs-playback-rate-value {
  user-select: none;
}

#vidcont { 
  margin-left: 1.1%;
  margin-top: 14px;
}

.vidtitle { 
  margin-left:1px;
  display:inline-block;
}

.vidate {
  font-size:14px;
  margin-left:1px;
  display:table;
}

.videscr {
  border-radius:12px;
  padding:12px;
  background-color:#f7f8f9;
}

#vidact {
  display: flex;
  justify-content: flex-end;
}

#comcont {
  margin-left: 1.1%;
  margin-right: 1.1%;
 }

.label {
  display: inline;
  box-decoration-break:clone;
  -webkit-box-decoration-break:clone;
}

.wordbreak {
  word-wrap:break-word;
}

.popover-right {
  display:block;
  margin-left:0;
  width:fit-content;
}

.popover.popover-right .popover-container {
  left: 95%;
}

.navbar-section {
  z-index:3;
}
.navbar .navbar-center {
  flex: 0.3 0 auto;
  z-index:3;
}
.navbar-brand { 
  border-radius: 2px;
}

#navlogo {
  user-select: none;
}

@media only screen and (max-width: 468px) {
  #navlogo {
    display: none;
  }

  .navbar-center {
    -ms-flex:1 0 0 !important;
    flex:1 0 0 !important;
  }
}

.toast { 
  position: relative;
  z-index:3;
  animation: slidein 0.3s;
}

.slidex {
  position: relative;
  animation: slidein 0.3s;
}

.toast.toast-success:hover {
  background-color: #2ca03b; 
}

.fieldicon {
  position: relative;
  top: 3px;
}

.form-input-hint {
  position: relative;
  -webkit-animation: slidev 0.5s;
  animation: slidev 0.5s;
}

@keyframes slidev {
  from {left: -20px; opacity: 0;}
  to {left: 0; opacity: 1;}
}

.slidey {
  -webkit-animation: slidey 0.6s;
  animation: slidey 0.6s;
}

@keyframes slidey {
  0% {top: -30px; opacity: 0;}
  20% {opacity:0;}
  100% {top: 0px; opacity: 1;}
}

.field_with_errors {
  display:inline;
}

#loader-container {
  position: fixed;
  display:flex;
  margin-left:initial;
  align-items:center;
  justify-content:center;
  top: 0;
  left: 1.1%;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: white;
}

.loading-lg {
  scale: 1.75;
}

#comzone {
  -webkit-animation: slidein 0.5s;
  animation: slidein 0.5s;
}

@keyframes slidein {
  from {left: -35px; opacity: 0;}
  to {left: 0; opacity: 1;}
}

.shakeit {
  -webkit-animation: shake 0.3s ease-in-out;
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0%, 100%{ margin-left: 0;}
  20%, 80%{ margin-left: -12px;}
  40%, 60%{ margin-left: 12px;}
 }

 .pen {
   box-sizing: border-box;
   position: relative;
   display: block;
   transform: rotate(-45deg) scale(var(--ggs,1));
   width: 14px;
   height: 4px;
   border-right: 2px solid transparent;
   box-shadow:
       0 0 0 2px,
       inset -2px 0 0;
   border-top-right-radius: 1px;
   border-bottom-right-radius: 1px;
   top:10px;
   margin:auto;
 }
 .pen::after,
 .pen::before {
   content: "";
   display: block;
   box-sizing: border-box;
   position: absolute
 }
 .pen::before {
   background: currentColor;
   border-left: 0;
   right: -6px;
   width: 3px;
   height: 4px;
   border-radius: 1px;
   top: 0
 }
 .pen::after {
   width: 8px;
   height: 7px;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
   border-right: 7px solid;
   left: -11px;
   top: -2px
 }

.decor:hover {
  text-decoration: none;
  height: fit-content;
}
.decor:active, .decor:focus {
  text-decoration: none;
  height: fit-content;
  border-radius:12px;
}

.docs-footer {
  color: #bcc3ce;
  margin-top: 1.5rem;
  text-align: center;
}
