/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html { 
  scroll-behavior: smooth;
 }
 
#grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

 @supports (display: grid) {
    #grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 1em;
    row-gap: 2em;
  }
}

.card {
  display: inline;
  border:none !important;
}

.no-shadow:active, .no-shadow:focus {
  box-shadow: none;
}

.hidden {
  visibility: hidden;
}

.placeholder { 
  background-color: #bcc3ce !important;
  color: #0000 !important;
  border-radius: 20px;
}

#new_video:hover {
  background: #4240d4 !important;
  box-shadow: 0 0 0 .1rem rgba(87,85,217,.2);
  transition: box-shadow .2s;
}

.icon-3x {
  transition: transform .3s;
  transform: scale(1.40,1.40); 
}

.modal-container {
  box-shadow: 0 .2rem .5rem rgba(48,55,66,.3) !important;
  max-height: 78vh;
}

.modal-overlay { 
  background: rgba(247,248,249,.75) !important;
}

.name-field {
  padding-left: 0;
}

.video-js.video-js .vjs-big-play-button {
  top: 50%;
    left: 50%;
    margin-left: -1em;
    margin-top: -1em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border: none;
    border-radius: 50%;
    font-size: 3.5em;
    background-color: rgba(0,0,0,.45);
    color: #fff;
}

.video-js.video-js:hover .vjs-big-play-button{
  background-image:linear-gradient(to right,#9933ff,#5755d9);
}

.video-js .vjs-play-progress {
  background-image:linear-gradient(to right,#9933ff,#5755d9);
}

.vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal:hover {
  background-image:linear-gradient(to right,#9933ff,#5755d9);
}

.video-js .vjs-play-control:hover { 
  background-image:linear-gradient(to right,#9933ff,#5755d9);
}

.vjs-menu-item.vjs-selected { 
  background-image:linear-gradient(to right,#9933ff,#5755d9);
}

.video-js .vjs-fullscreen-control.vjs-control {
  background-image:linear-gradient(to right,#9933ff,#5755d9);
}

.vjs-menu-item-text {
  color: white;
}

.video-js.video-js .vjs-menu-content {
  width:48px !important;
}

#vidcont { 
  margin-left: 1.1%;
  margin-top: 14px;
}

#comcont {
  margin-left: 1.1%;
  margin-right: 1.1%;
 }

.label {
  display: inline;
  box-decoration-break:clone;
  -webkit-box-decoration-break:clone;
}

.navbar-section {
  z-index:2;
}

.navbar-center {
  z-index:2;
}

@media only screen and (max-width: 460px) {
  .navbar-center {
    width: 53%;
  }
}

@media only screen and (max-width: 425px) {
  #navlogo {
    display: none;
  }

  .navbar-center {
    -ms-flex:1 0 0 !important;
    flex:1 0 0 !important;
  }
}

#loader-container {
  position: fixed;
  top: 0;
  left: 1.1%;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: white;
}

.decor:hover {
  text-decoration: none;
  height: fit-content;
}
.decor:active, .decor:focus {
  text-decoration: none;
  height: fit-content;
  border-radius:12px;
}

.docs-footer {
  color: #bcc3ce;
  margin-top: 1.5rem;
  padding: .5rem;
  text-align: center;
}
